<div class="dashboard" [dir]="translate.dir">
    <h2>{{"DASHBOARD" | translate}}</h2>

    <div class="row">

        <!--<div class="col s12 m5 l5 xl5" *ngFor="let category of categories">

            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ category | translate }}</span>

                    <ul class="collection">
                        <li class="collection-item">
                            <span>Ahmed</span><span data-badge-caption="" [ngClass]="{'new': true, 'badge': true, 'rate': translate.getCurrentLang() === 'ar'}">3.5</span></li>
                        <li class="collection-item">
                            <span>Ahmed</span><span data-badge-caption="" [ngClass]="{'new': true, 'badge': true, 'rate': translate.getCurrentLang() === 'ar'}">3.5</span></li>
                        <li class="collection-item">
                            <span>Ahmed</span><span data-badge-caption="" [ngClass]="{'new': true, 'badge': true, 'rate': translate.getCurrentLang() === 'ar'}">3.5</span></li>
                        <li class="collection-item">
                            <span>Ahmed</span><span data-badge-caption="" [ngClass]="{'new': true, 'badge': true, 'rate': translate.getCurrentLang() === 'ar'}">3.5</span></li>
                        <li class="collection-item">
                            <span>Ahmed</span><span data-badge-caption="" [ngClass]="{'new': true, 'badge': true, 'rate': translate.getCurrentLang() === 'ar'}">3.5</span></li>
                    </ul>

                </div>
            </div>
        </div>-->
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" [routerLink]="['/users']"><i class="large material-icons">supervisor_account</i><span>{{'USERS' | translate}}</span></a>
        </div>
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" [routerLink]="['/usersOrders']"><i class="large material-icons">shopping_cart</i><span>{{'ORDERS' | translate}}</span></a>
        </div>
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" href="#"><i class="large material-icons">payment</i><span>{{'OFFERS' | translate}}</span></a>
        </div>
        <div class="col s6 m5 l5 xl2">
            <a class="d-icon" href="#"><i class="large material-icons">settings</i><span>{{'SETTINGS' | translate}}</span></a>
        </div>

    </div>
</div>