<div class="dashboard" [dir]="translate.dir">
    <h2>{{"DASHBOARD" | translate}}</h2>

    <div class="row">
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" [routerLink]="['users']"><i class="large material-icons">supervisor_account</i><span>{{'USERS' | translate}}</span></a>
        </div>
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" [routerLink]="['/usersOrders']"><i class="large material-icons">shopping_cart</i><span>{{'ORDERS' | translate}}</span></a>
        </div>
        <div class="col s6 m5 l5 xl3">
            <a class="d-icon" [routerLink]="['userRefunds']"><i class="large material-icons">payment</i><span>{{'REFUNDS' | translate}}</span></a>
        </div>
    </div>
</div>