<nav *ngIf="header.visible" class="navbar navbar-inverse">

    <div class="nav-wrapper" [dir]="translate.dir">

        <a class="brand-logo center" [routerLink]="['/']">
                {{"DAKAKEEN" | translate}}
       </a>

        <a href="#" materialize="sideNav" [materializeParams]="[{closeOnClick: true, draggable: true}]" [materializeActions]="sideNav" data-activates="mobile-nav" class="button-collapse" (window:resize)="onresize()">
            <i class="material-icons">menu</i>
        </a>

        <ul [ngClass]="{'hide-on-med-and-down': true, 'left': translate.getCurrentLang() === 'en', 'right': translate.getCurrentLang() === 'ar'}">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">{{ "DASHBOARD" | translate}}</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/orders']">{{ "ORDERS" | translate}}</a></li>
            <li><a href="#">{{ "OFFERS" | translate}}</a></li>
        </ul>

        <ul [ngClass]="{'hide-on-med-and-down': true, 'right': translate.getCurrentLang() === 'en', 'left': translate.getCurrentLang() === 'ar' }">
            <li>
                <button type="button" class="btn navbar-btn" (click)="logout()">{{ "LOGOUT" | translate}}</button>
            </li>
            <li>
                <button type="button" class="btn navbar-btn" (click)="changeLang('en')">English</button>
            </li>
            <li>
                <button type="button" class="btn navbar-btn" (click)="changeLang('ar')">عربي</button>
            </li>
        </ul>

        <ul id="mobile-nav" [ngClass]="{'right': translate.getCurrentLang() === 'en', 'side-nav': true}">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">{{ "DASHBOARD" | translate}}</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/orders']">{{ "ORDERS" | translate}}</a></li>
            <li><a href="#">{{ "OFFERS" | translate}}</a></li>
            <li>
                <button type="button" class="btn navbar-btn" (click)="logout()">{{ "LOGOUT" | translate}}</button>
            </li>
            <li>
                <button type="button" class="btn navbar-btn" (click)="changeLang('en')">English</button>
            </li>
            <li>
                <button type="button" class="btn navbar-btn" (click)="changeLang('ar')">عربي</button>
            </li>
        </ul>
    </div>

</nav>