<div class="row" [dir]="translate.dir">
    <h2>{{ 'REFUNDS' | translate }}</h2>
    <table class="responsive-table">
        <thead>
            <th>{{ 'REASON' | translate }}</th>
            <th>{{ 'TYPE' | translate }}</th>
            <th>{{ 'STATE' | translate }}</th>
            <th>{{ 'ACCEPT' | translate }}</th>
            <th>{{ 'DENY' | translate }}</th>
        </thead>

        <tbody>
            <tr *ngFor="let refund of refunds">
                <td>{{refund.reason}}</td>
                <td>{{('REFT'+refund.type) | translate}}</td>
                <td>{{('REF'+refund.state) | translate}}</td>
                <td *ngIf="refund.state === 0"><button type="button" class="btn btn-floating" (click)="acceptRefund(refund)"><i class="material-icons">thumb_up</i></button></td>
                <td *ngIf="refund.state === 0"><button type="button" class="btn btn-floating" (click)="denyRefund(refund)"><i class=" material-icons ">thumb_down</i></button></td>
            </tr>
        </tbody>
    </table>
</div>