.ratings {
    margin: 10px auto;
    padding: 10px 0;
    overflow: hidden;
}

.rate {
    float: left;
}

.card {
    background-color: #86194c;
    color: white;
}

.card-title {
    font-weight: bolder;
}

.collection {
    padding: 0;
    border-color: #86194c;
    background-color: #9e466f;
}

.collection-item {
    word-wrap: break-word;
    border: none;
    background-color: transparent;
    color: white;
}

span.badge.new {
    background-color: white;
    color: #86194c;
    margin: 0;
}

@media (min-width: 601px) and (max-width: 767px) {
    .col.m5 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col.m5 {
        width: 41.6666666667%;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .col.l5 {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (min-width: 1201px) {
    .col.xl5 {
        margin-left: 4%;
        margin-right: 4%;
    }
}