nav ul {
    padding: 0;
}

nav {
    border-radius: 0;
    background-color: #86194c;
}

.side-nav .navbar-btn {
    color: black;
}

.navbar-btn,
.navbar-btn {
    background-color: transparent;
    box-shadow: 0 0 0 0;
    outline: none;
    border: none;
}

.navbar-btn:focus,
.navbar-btn:active:focus {
    background-color: transparent;
    box-shadow: 0 0 0 0;
    outline: none;
    border: none;
}