.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.langChange {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.logo {
    width: 100%;
    display: block;
    margin: 5px auto;
}

.login {
    margin: 5px auto 10px auto;
    padding: 0 5px;
    width: 100%;
}

.login>form {
    width: 100%;
    margin: 0 auto;
}

input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]) {
    border-color: #86194c;
    box-shadow: 0 1px 0 0 #86194c;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="text"]:not([readonly])+label,
input[type="password"]:not([readonly])+label,
input[type="text"]:focus:not([readonly])+label,
input[type="password"]:focus:not([readonly])+label {
    color: #86194c;
}

.input-field label.right {
    left: inherit;
    right: 0;
}

@media (min-width: 550px) {
    .logo {
        width: 300px;
        height: 250px;
        margin: 5px auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .login>form {
        width: 70%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .login>form {
        width: 40%;
    }
}

@media (min-width: 1201px) {
    .login>form {
        width: 40%;
    }
}