.logo {
    width: 100%;
    height: 300px;
    display: block;
    margin: 5px auto;
}

.login {
    margin: 0 auto;
    padding: 0 5px;
}

.login>form {
    width: 100%;
    margin: 0 auto;
}

.control-label {
    color: #86194c;
}

@media (min-width: 768px) and (max-width: 991px) {
    .login>form,
    .logo {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .login>form,
    .logo {
        width: 40%;
    }
}