@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css";
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fffdf7;
    position: relative;
}

.loading {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #86194c;
}

.active .spinner-layer {
    border-color: #c25975;
}

.preloader-wrapper,
.loading-txt {
    display: block;
    margin: 0 auto;
    color: white;
}

login {
    width: 100%;
}

.btn,
.btn:active,
.btn:focus,
.btn:active:focus {
    background-color: #86194c;
    font-weight: bold;
    outline: none;
}

.btn:hover,
.btn:active:hover,
.btn:focus:hover {
    background-color: #c25975;
}

.danger {
    background-color: #BD362F;
}